version: '3'
services:

  libchecker:
    image: codeyourinfra/libchecker
    build: .
    container_name: libchecker
    restart: always
    environment:
      - LIBRARIESIO_API_KEY
      - SLACK_WEBHOOK_URL
      - TRAVIS_API_TOKEN
    volumes:
      - ./config.json:/libchecker/config.json
    depends_on:
      - mongo

  mongo:
    image: codeyourinfra/libchecker-mongo
    build: mongodb
    container_name: mongo
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=dbuser
      - MONGO_INITDB_ROOT_PASSWORD=dbpassword

  mongodb-ui:
    image: mongo-express
    container_name: mongodb-ui
    restart: always
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=dbuser
      - ME_CONFIG_MONGODB_ADMINPASSWORD=dbpassword
    ports:
      - 8081:8081
    depends_on:
      - mongo
